body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vogue.es%2Fliving%2Farticulos%2Fseries-netflix-rick-y-morty-tercera-temporada%2F32005&psig=AOvVaw1hzX8CB7VGKvGm2cnHjsDw&ust=1707961757708000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNjd-tfbqYQDFQAAAAAdAAAAABAE');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
